:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: black;
    background-color: white;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}


footer {
    bottom: 0;
    margin-top: %;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
    position: fixed;
}

.hidden {
    display: none;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: auto;
    margin: 0 auto;
}

h1 {
    font-size: 4em;
    margin: 0;
    text-align: center;
}

textarea {
    font-size: 1.5rem;
    font-weight: bold;

}

#question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    position: inherit;
}

label {
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-weight: bold;
}

#ask-btn {
    margin-top: 2%;
    width: 50px;
    height: 30px;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.8);
}

#ask-btn:hover {
    background-color: #1f11b4;
    color: white;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

#ask-btn:active {
    background-color: #060044;
    color: white;
    transform: translateY(2px);
    box-shadow: 0 0 0 0;
    top: 2px;
    left: 2px;
}

#eight-ball-image {

}

#question-text {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

#answer-text {
    font-size: .9rem;
    text-shadow: -3px 1px 8px #5441ce;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-top: -200px;
}

#eight-ball-image {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    height: 120%;
    width: 120%;
    position: relative;
    padding-right: 20%;
}